<!DOCTYPE html>
<html>
<head>
<title></title>
</head>

<body>
<h1> Add Link </h1>
<ul id='links'>
  <form action='/links' method='post'>
    Add url:<input type='text' name='url'><br>
    Add title:<input type='text' name='title'><br>
    Add tag:<input type='text' name='tag'><br>
    <input type='submit' value='Submit'>
  </form>
</ul>

</body>
</html>
